Options -MultiViews
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.html [QSA,L]

<Files .env>
    Order allow,deny
    Deny from all
</Files>

PassengerEnabled on
PassengerAppRoot /www/axel/projet3/backend
PassengerPython /opt/alt/python38/bin/python3.8
